* text=auto eol=lf
*.bat text eol=crlf
*.jar binary
*.png binary
*.jpeg binary
*.jpg binary
gradlew text eol=lf

# NeoForge generated datagen artifacts always use LF line endings
src/generated/**/.cache/* text eol=lf
src/generated/**/*.json text eol=lf
